<!DOCTYPE html> 
<html lang="nl"> 
<head>
    <title>Inloggen - Transport Vergelijker</title> 
    <!-- De titel van de pagina -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <!-- Link naar mijn css bestand voor de opmaak van de pagina  -->
</head> 
<body>
    <!-- Navigatiebalk -->
    <nav>
        <ul>
           <!-- Link naar de startpagina -->
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <!-- Link naar de pagina met een overzicht van vervoerders -->
            <li><a href="{{ url_for('overview') }}">Overzicht Vervoerders</a></li>
            <!-- Link naar de inlogpagina -->
            <li><a href="{{ url_for('inloggen') }}">Inloggen</a></li>
            <!-- Link naar de pagina met informatie over de website -->
            <li><a href="{{ url_for('about') }}">Over Mij</a></li>
            <!-- Link naar de contactpagina -->
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>

    <!-- Login Pagina -->
    <div class="contact-page">
        <!-- Container voor de inhoud van de inlogpagina -->
        <h1>Inloggen</h1> 
        <!-- Titel van de pagina -->
        <form action="{{ url_for('inloggen') }}" method="post">
            <!-- Formulier voor inloggen -->
            <label for="username">Gebruikersnaam:</label> 
            <!-- Label voor het gebruikersnaamveld -->
            <input type="text" id="username" name="username" required> 
            <!-- Invoerveld voor de gebruikersnaam (moet verplicht) -->
            <label for="password">Wachtwoord:</label> 
            <!-- Label voor het wachtwoordveld -->
            <input type="password" id="password" name="password" required> 
            <!-- Invoerveld voor het wachtwoord (moet verplicht) -->
            <button type="submit">Inloggen</button> 
            <!-- Knop om de ingevulde gegevens door te geven aan de database -->
        </form>
        <p>Geen account? <a href="{{ url_for('signup') }}">Maak een account aan</a></p> 
        <!-- Link naar de pagina voor het aanmaken van een account -->
    </div>
</body>

<footer>
    <p>&copy; 2025 Transporteur Vergelijker</p> 
    <!-- Voegt een copyright-melding toe aan de onderkant van de pagina -->
</footer>

</html>
